Telegram-Bot.json
{
  "name": "Telegram-Bot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Respond to this as a helpful assistant with emojis:  {{ $json.message.text }}",
        "options": {}
      },
      "id": "0f5aae97-3819-4704-ada2-abbcf14cea5f",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        608,
        240
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "9f828f62-b587-43be-a47f-b2500e36bd9c",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        368,
        240
      ],
      "webhookId": "9bf61652-efa6-47b0-9f52-e0c3362d93e5",
      "typeVersion": 1.1,
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "SAB3FdiPgy5Wl6hY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "abb92991-faee-4678-9038-7555f694acb1",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        976,
        240
      ],
      "webhookId": "5babdcad-dabe-4c8e-8f84-6957e9f1aa15",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "SAB3FdiPgy5Wl6hY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "b20244ba-e15d-4f7f-939f-1c9d8474743a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        512,
        464
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "v83mrC7uCFmLFH84",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ \"my_test_session\" }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        624,
        448
      ],
      "id": "ddda16ba-2f00-4981-ab1e-737be22533a6",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "executionOrder": "v1",
    "timeSavedPerExecution": 0,
    "errorWorkflow": "iiWLALYIMHj2vUZp"
  },
  "versionId": "b3591cfe-cd21-4576-af0b-dac2f2824dde",
  "meta": {
    "templateId": "2114",
    "templateCredsSetupCompleted": true,
    "instanceId": "9dd2c2037380c66bc4aceafbb545498290fe51b236be265b3f991ce709a30a25"
  },
  "id": "iiWLALYIMHj2vUZp",
  "tags": []
}
